*{
    font-family: Arial, sans-serif;
    text-decoration: none;
}
body {
    background: #282D28;
    align-content: center;
    margin:0;
}
#all {
    margin: 5%;
}
div {
    align-content: center;
}
h1,h2,p,li,td {
    color: white;
}
.sidebar {
    grid-area: sidebar;
}
li {
    list-style-type: none;
}

.download {
    color: #6C5593;
    text-decoration: underline;
}

.screenshot {
    max-width: 50%;
}

.topnav, .footer {
    background-color: #6C5593;
    overflow: hidden;
    width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #4B2360;
    color: #AD9CB7;
}

.topnav a,.topnav b,.footer th, .footer td {
    float: left;
    color: #DCD0EA;
    text-align: center;
    padding: 14px;
    font-size: 20px;
}

 @media screen and (max-width: 600px){
     .screenshot {
         max-width: 100%;
     }
     #profile_image {
         width: 60%;
     }
     h1, h2, #profile_image_div {
         text-align: center;
     }
 }

@media screen and (max-width: 359px){
    .topnav a, .topnav b{
        font-size: 16px;
    }
}

@media screen and (min-width: 600px){
    /* Style the links inside the navigation bar */
    .footer th {
        width: 100px;
    }
    #profile{
        text-align: center;
        width: 300px;
    }
    #profile{
        display: block;
    }
    .screenshot{
        max-width:550px;
    }

}